<a href="https://colab.research.google.com/github/Pornchita2541/Multivariate/blob/main/%E0%B8%AA%E0%B8%AD%E0%B8%9A%E0%B8%9B%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B8%A0%E0%B8%B2%E0%B8%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาทำข้อสอบใน Colab Notebook นี้โดยกรอกข้อมูลของตัวเองใน cell ที่ 2 แล้วรัน cell ที่ 1 - 5 และเริ่มทำข้อสอบใน cell ที่ 6 เป็นต้นไป

โดยโจทย์คือ
1. ข้อมูลโจทย์ อยู่ใน ตัวแปร ```Data```
2. ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ
3. ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 2 มิติ
4. เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.
5. เขียน comments อธิบายทุกขั้นตอน
6. อัด video อธิบาย code ทุกๆขั้นตอนรวมถึงผลแล้วอัพลง youtube ในรูปแบบ unlist 
7. commit โดยใช้ชื่อ commit เป็น link youtube ที่อธิบาย code ในข้อ 6.

กำหนดส่งวันที่ 2 พฤษภาคม 2564 (โดยให้มากรอกวันที่ commit ครั้งสุดท้ายใน sheet: https://docs.google.com/spreadsheets/d/1_qJwLDJVtOW1HxBcf_FHVc6UT4J_SOonuR6o3EEnVzw/edit?usp=sharing ช่อง Final)

In [22]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [23]:
Name = 'พรชิตา แสนจันทร์'
ID = '603021828-5'

In [24]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [30]:
Data = DataGenerator(Name,ID)

021:22:13

In [31]:
Data

             0         1         2   ...        21         22         23
0     -0.753628 -1.025994 -5.952946  ...  2.484954  -2.051989  14.424771
1     -0.406066 -4.990092  7.309898  ... -8.245622  -9.980184 -39.228112
2     -3.744933 -3.480937 -9.227205  ... -9.416149  -6.961873 -45.080747
3     10.013564  6.630884  2.007275  ... -4.697175  13.261768 -21.485877
4      1.928254 -4.101280 -1.721024  ...  4.407135  -8.202561  24.035674
...         ...       ...       ...  ...       ...        ...        ...
9995  -2.557160  8.750409 -3.806598  ...  1.575652  17.500817   9.878261
9996   6.699291 -1.067502  5.385884  ... -0.685775  -2.135004  -1.428873
9997   4.287949 -0.627294  7.709861  ...  1.856363  -1.254588  11.281813
9998   9.093126 -4.949346 -3.852101  ... -1.107784  -9.898693  -3.538922
9999  -0.113553  8.480108 -3.455053  ...  0.317423  16.960216   3.587115

[10000 rows x 24 columns]

# 2. ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ

## Kmean

### Import

In [34]:
from sklearn.cluster import KMeans

### Define

In [35]:
kmeans = KMeans(n_clusters=10, random_state=2021)

### Fit - Transform

คำนวณหาจุด cluter centers ของข้อมูล Data ด้วยวิธี K-means clustering

In [36]:
clustering=KMeans(n_clusters=3, random_state=6)
clustering.fit(Data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=6, tol=0.0001, verbose=0)

แสดง จุด cluster centers ที่คำนวณออกมาได้

In [ ]:
kmeans.cluster_centers_

array([[  1.48101727,   1.18697393,   2.58357852,   3.00109487,
         -3.99907418,  -6.65830836,   7.01037769,  -2.75467817,
         -5.19334208,  -9.22740793,   0.89516701,  -0.65776628,
          6.03462981,  -7.39314503,  -1.3779482 ,  -7.35475672,
          1.75703954,   0.84756552,   4.31282025,   3.14691158,
         -2.37404136,   0.3289872 ,   2.37394786,   3.64493598],
       [ -0.06067185,  -4.53581397,   6.12918775,  -3.19298016,
         -6.08185648,  -3.12765862,   3.41379024,  -4.36272475,
         -4.6641072 ,   7.64561515,   0.74237739,   4.8902335 ,
          7.94007407,  -4.50835662,   0.70906296,  -7.43110465,
          9.2158218 ,   6.23526632,   2.96162948,  -5.98268183,
          9.34625507,  -9.21402095,  -9.07162794, -44.07010474],
       [  0.84757991,  -4.15780985,  -2.53912724,  -4.61926509,
         -8.12579056,   5.01822721,   4.68434895,  -9.90515732,
         -5.19789535,  -4.64930845,   5.79358369,   0.16892785,
         -0.67004108,  -4.72691403,   2.12908832,   7.47362961,
          9.84231428,  -9.44395144,   0.50209215,  -9.11002425,
          6.84521494,   2.71950654,  -8.3156197 ,  15.59753272],
       [  7.91538227,   8.56607215,   2.35763788,  -7.16973491,
         -7.255837  ,  -2.57915622,  -7.75556181,   0.23884102,
         -4.82906561,  -7.81310029,  -6.18602377,  -3.47071911,
          3.29672461,  -3.76440694,   0.46359125,  -3.36548069,
         -8.34211522,  -8.28762815,  -4.97853978,  -5.61634042,
         -8.79857819,   5.58009022,  17.13214429,  29.90045112],
       [ -3.07890375,   7.96946999,   2.37030142,   5.36402563,
          4.91207944,  -1.33258532,  -4.00464528,   2.49596303,
         -2.78114946,   4.14811549,  -3.23198791,   1.53232511,
          5.50134061,  -2.25752449,   5.09941942,  -5.06143191,
          1.34649673,   1.61532973,  -5.00143275,   2.17676083,
          7.71112442,   1.91559245,  15.93893998,  11.57796227],
       [  3.74116121,   0.73285944,   0.55731693,   2.92080862,
          6.25073615,   8.67382431,   3.69820668,   3.70498389,
         -5.48059703,   2.67749975,  -7.69002849,  -4.15331141,
         -2.36299189,   2.71860965,   1.57399267,  -0.36288678,
          6.87914666,   5.48989328,   2.37527868,  -0.53546752,
          1.50087478,   0.82351655,   1.46571888,   6.11758274],
       [ -2.03435667,  -3.86742834,  -8.8112807 ,   7.93738095,
          8.2304598 ,   9.07578978,   8.33102765,  -9.37712309,
          7.51822814,  -9.15374862,   9.63949746,   5.17925634,
          7.91751505,   5.07247407,   8.07429795,   4.79945688,
          8.09149461,  -9.41081577,   3.64139144,   6.87812685,
          7.73611305,  -9.27071327,  -7.73485668, -44.35356633],
       [  9.58704508,   6.85531892,   3.75266413,  -0.75990955,
          8.34204602,   4.61357991,  -9.92762491,   3.40265023,
          1.58872581,  -0.42112977,  -1.27958586,  -2.78460786,
         -4.28066776,   5.39199026,   4.31301383,  -6.7579889 ,
          5.26901041,   5.77387937,   4.80361163,  -5.44686469,
         -3.44779651,  -4.49551352,  13.71063784, -20.4775676 ],
       [ -9.04556034,  -4.20338028,   4.43760642,  -9.55192163,
         -5.85505346,  -9.01900041,  -4.01818017,   3.30931433,
         -3.7745782 ,   1.68396156,  -8.58256164,   7.40168132,
         -7.330145  ,  -6.36524493,  -0.12610832,   7.3613329 ,
          5.19464863,   9.40611585,   5.16972008,  -2.29941805,
         -1.83378359,   4.28624118,  -8.40676056,  23.43120591],
       [  8.60154426,  -5.07806923,  -5.79755965,   6.31745799,
         -3.93652857,   3.53192024,   8.48417706,  -8.62358539,
          5.70184441,  -9.33811735,   0.17084914,  -1.25926951,
          3.76037894,   5.62637865,  -9.08282608,  -8.53720914,
          2.15837269,   4.2714886 ,  -6.95987639,   2.23426825,
         -7.03705206,  -0.78324243, -10.15613846,  -1.91621215]])

ทำสอบการจัดกลุ่มของ Data

In [ ]:
y = kmeans.predict(Data)
y

array([5, 1, 6, ..., 0, 9, 4], dtype=int32)